<div class="user-settings max-width-2 mt4 mx-auto">
  <mat-list>
    <h3 matSubheader>Anzeige</h3>
    <mat-list-item>
      <div>Digitale Uhr</div>
      <mat-slide-toggle [checked]="settings.clockType === 'digital' ? true : false" (change)="onClockChange()"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <div>Zeige Zeitdauer (min)</div>
      <mat-slide-toggle [checked]="settings.showDuration" (change)="onShowDurationChange()"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <div>Anzahl Abfahrten pro Station</div>
      <div fxLayout="row" fxLayoutAlign="start center"><mat-slider
        thumbLabel
        (change)="onStationCountChange($event)" [value]="settingsService.stationCount"
        tickInterval="2"
        step="1"
        min="6"
        max="16"></mat-slider><div fxFlex="30px" class="right-align">{{settings.stationCount}}</div></div>
    </mat-list-item>
    <mat-list-item>
      <div>Anzahl Stationen im Dashboard</div>
      <div fxLayout="row" fxLayoutAlign="start center"><mat-slider
        thumbLabel
        (change)="onMaxDashboardsChange($event)" [value]="settingsService.maxDashboards"
        tickInterval="1"
        step="1"
        min="1"
        max="4"></mat-slider><div fxFlex="30px" class="right-align">{{settings.maxDashboards}}</div></div>
    </mat-list-item>
    <mat-list-item>
      <div>Aktualisierungs Intervall (sec)</div>
      <div fxLayout="row" fxLayoutAlign="start center"><mat-slider
        thumbLabel
        (change)="onUpdateIntervalChange($event)" [value]="settingsService.updateRate"
        tickInterval="10"
        step="5"
        min="30"
        max="120"></mat-slider><div fxFlex="30px" class="right-align">{{settings.updateRate}}</div></div>
    </mat-list-item>
    <h3 matSubheader>Benutzer</h3>
    <mat-list-item>
      <div>E-Mail</div>
      <mat-form-field>
        <input class="right-align" matInput type="email" [value]="email" disabled>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <div>Passwort ändern</div>
      <button mat-button (click)="onOpenResetPasswordDialog()">Ändern</button>
    </mat-list-item>
    <mat-list-item>
      <div>Konto löschen</div>
      <button mat-button (click)="onOpenDeleteUserDialog()">Löschen</button>
    </mat-list-item>
  </mat-list>
</div>
