<div class="mx-auto max-width-4 mt3">
  <div *ngIf="loading.stationBoard && loading.favorites" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="loading.favorites === false && loading.stationBoard === false" fxFlexFill fxLayout="row"
       fxLayoutAlign="center center">
    <div class="monitor-detail___board mat-typography">
      <app-board [board]="board" [stationId]="stationId"></app-board>
    </div>
  </div>
</div>
<div class="monitor-detail___fab" *ngIf="userId && board" [style.bottom.px]="smallSize ? 80 : 20">
  <div *ngIf="isFavorite">
    <button mat-fab (click)="onUnFavorite()" color="primary">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div *ngIf="isFavorite === false">
    <button mat-fab (click)="onFavorite()" color="none">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>
</div>
