<div class="clock">
  <div class="analog" *ngIf="type === 'analog'">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px"
         y="0px"
         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <style type="text/css">
      .st0 {
        fill: #FF0000;
      }
    </style>
          <symbol id="mark" viewBox="-6.5 -44.22 13 68.22">
        <rect x="-6.5" y="-44.22" width="13" height="68.22"/>
      </symbol>
          <g id="bg">

        <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22" transform="matrix(1 0 0 -1 256.5 24)"
             style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(6.123234e-17 1 1 -6.123234e-17 44.2182 256.5)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.866 -0.5 -0.5 -0.866 141.433 54.8321)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.5 -0.866 -0.866 -0.5 55.3321 139.567)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.7524 -0.1599 -0.0866 -0.4076 204.8537 15.3757)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.765 -0.0804 -0.0436 -0.4144 230.286 11.3476)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.7316 -0.2377 -0.1288 -0.3963 179.9818 22.0401)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.7027 -0.3129 -0.1695 -0.3806 155.9428 31.2678)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.6223 -0.4521 -0.2449 -0.3371 111.4048 56.9818)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.5716 -0.5147 -0.2788 -0.3096 91.3939 73.1864)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.5147 -0.5716 -0.3096 -0.2788 73.1864 91.3939)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.4521 -0.6223 -0.3371 -0.2449 56.9818 111.4048)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.3129 -0.7027 -0.3806 -0.1695 31.2678 155.9428)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.2377 -0.7316 -0.3963 -0.1288 22.0401 179.9818)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.1599 -0.7524 -0.4076 -0.0866 15.3757 204.8537)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.0804 -0.765 -0.4144 -0.0436 11.3476 230.286)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(1 0 0 -1 256.5 467.7818)"
                 style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.5 -0.866 -0.866 0.5 54.8321 370.567)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.866 -0.5 -0.5 0.866 139.567 456.6679)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.1599 -0.7524 -0.4076 0.0866 15.3757 307.1463)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.0804 -0.765 -0.4144 0.0436 11.3476 281.714)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.2377 -0.7316 -0.3963 0.1288 22.0401 332.0182)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.3129 -0.7027 -0.3806 0.1695 31.2678 356.0572)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.4521 -0.6223 -0.3371 0.2449 56.9818 400.5952)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.5147 -0.5716 -0.3096 0.2788 73.1864 420.6061)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.5716 -0.5147 -0.2788 0.3096 91.3939 438.8136)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.6223 -0.4521 -0.2449 0.3371 111.4048 455.0182)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.7027 -0.3129 -0.1695 0.3806 155.9428 480.7322)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.7316 -0.2377 -0.1288 0.3963 179.9818 489.9599)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.7524 -0.1599 -0.0866 0.4076 204.8537 496.6243)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.765 -0.0804 -0.0436 0.4144 230.286 500.6524)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(6.123234e-17 -1 -1 -6.123234e-17 467.7818 255.8476)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.866 0.5 0.5 0.866 370.567 457.5155)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.5 0.866 0.866 0.5 456.6679 372.7807)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.7524 0.1599 0.0866 0.4076 307.1463 496.972)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.765 0.0804 0.0436 0.4144 281.714 501)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.7316 0.2377 0.1288 0.3963 332.0182 490.3076)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.7027 0.3129 0.1695 0.3806 356.0572 481.0798)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.6223 0.4521 0.2449 0.3371 400.5952 455.3658)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.5716 0.5147 0.2788 0.3096 420.6061 439.1613)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.5147 0.5716 0.3096 0.2788 438.8136 420.9538)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.4521 0.6223 0.3371 0.2449 455.0182 400.9428)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.3129 0.7027 0.3806 0.1695 480.7322 356.4048)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.2377 0.7316 0.3963 0.1288 489.9599 332.3658)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.1599 0.7524 0.4076 0.0866 496.6243 307.4939)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(-0.0804 0.765 0.4144 0.0436 500.6524 282.0616)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.5 0.866 0.866 -0.5 458.0476 141.2486)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.866 0.5 0.5 -0.866 373.3128 55.1476)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.1599 0.7524 0.4076 -0.0866 497.5041 204.6693)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.0804 0.765 0.4144 -0.0436 501.5321 230.1015)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.2377 0.7316 0.3963 -0.1288 490.8397 179.7973)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.3129 0.7027 0.3806 -0.1695 481.6119 155.7583)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.4521 0.6223 0.3371 -0.2449 455.8979 111.2204)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.5147 0.5716 0.3096 -0.2788 439.6934 91.2094)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.5716 0.5147 0.2788 -0.3096 421.4859 73.0019)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.6223 0.4521 0.2449 -0.3371 401.4749 56.7974)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.7027 0.3129 0.1695 -0.3806 356.937 31.0834)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.7316 0.2377 0.1288 -0.3963 332.8979 21.8556)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.7524 0.1599 0.0866 -0.4076 308.026 15.1912)" style="overflow:visible;"/>
            <use xlink:href="#mark" width="13" height="68.22" x="-6.5" y="-44.22"
                 transform="matrix(0.765 0.0804 0.0436 -0.4144 282.5938 11.1631)" style="overflow:visible;"/>
    </g>
          <polygon id="min" [attr.transform]="minTransform" points="275.34,311 237.66,311 249.08,34 263.92,34 "/>
          <polygon id="hour" [attr.transform]="hourTransform" points="275.34,311 237.66,311 249.08,99.12 263.92,99.12 "/>
          <g id="sec" [attr.transform]="secTransform">
      <rect x="251" y="61" class="st0" width="10" height="231"/>
            <circle class="st0" cx="256" cy="44" r="26"/>
    </g>
    </svg>
  </div>
  <div class="digital" *ngIf="type === 'digital'">{{getTime()}}</div>
</div>
