<div *ngIf="loading === true" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <app-spinner></app-spinner>
</div>
<div *ngIf="loading === false && error" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <app-error (retry)="ngOnInit()" [error]="error"></app-error>
</div>
<div *ngIf="loading === false && error === null" class="board" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <button *ngIf="nearestStationsIds.length != 0" mat-icon-button (click)="prevStation()">
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
    <div>
      <h2 class="mt1 mb2 center mat-h2">{{board.station.name}}</h2>
    </div>
    <div class="right-align"><button *ngIf="nearestStationsIds.length != 0" mat-icon-button (click)="nextStation()">
      <mat-icon>navigate_next</mat-icon>
    </button>
    </div>
  </div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" width="100%"
       [attr.viewBox]="'0 0 ' + relativeWidth + ' ' + relativeHeight" [attr.preserveAspectRatio]="fit ? 'none' : 'xMidYMin'" [style.overflow]="'visible'" >
    <style type="text/css">
      .i3{fill:#fff}
      .i5{font-size:16px;}
      .bgBoard0{
        fill: #1565c0;
      }
      .bgBoard1{
        fill: #1252af;
      }
      .bgBoard2{
        stroke: #0a3470; stroke-width: 5px; fill: transparent;
      }
      .bgBoard3{
        stroke: #0a3470; stroke-width: 10px; fill: #0a3470;
      }
    </style>

    <rect x="0" y="0" class="bgBoard3" [attr.width]="relativeWidth" [attr.height]="relativeHeight"/>
    <svg *ngFor="let train of board.trains; let i = index" x="0" [attr.y]="44 + (itemHeight * i)" [attr.width]="relativeWidth" [attr.height]="itemHeight">
      <rect x="0" y="0" class="bgBoard0" [attr.width]="relativeWidth" [attr.height]="itemHeight"/>
      <rect x="0" y="0" class="bgBoard1" [attr.width]="relativeWidth" [attr.height]="itemHeight / 2"/>

      <rect x="0" y="0" class="bgBoard2" [attr.width]="relativeWidth * 0.16" [attr.height]="itemHeight"/>
      <text [attr.x]="0 + 20" [attr.y]="textItemPos" class="i3" [style.fontSize]="fontSize">{{getTime(train.stop.departureTimestamp * 1000)}}</text>
      <rect [attr.x]="relativeWidth * 0.16" y="0" class="bgBoard2" [attr.width]="relativeWidth * 0.16" [attr.height]="itemHeight"/>
      <text [attr.x]="relativeWidth * 0.16 + 20" [attr.y]="textItemPos - (fontSize * 0.1)" class="i3" [style.fontSize]="fontSize * 0.8">{{trainLabel(train)}}</text>
      <rect [attr.x]="relativeWidth * 0.32" y="0" class="bgBoard2" [attr.width]="relativeWidth * 0.6" [attr.height]="itemHeight"/>
      <text [attr.x]="relativeWidth * 0.32 + 20" [attr.y]="textItemPos" class="i3" [style.fontSize]="fontSize">{{train.to}}</text>
      <rect [attr.x]="relativeWidth * 0.92" y="0" class="bgBoard2" [attr.width]="relativeWidth * 0.08" [attr.height]="itemHeight"/>
      <text [attr.x]="relativeWidth - 22" [attr.y]="textItemPos" class="i3" [style.fontSize]="fontSize" text-anchor="end">{{train.stop.platform}}</text>
    </svg>
    <g>

      <text [attr.x]="20" y="32"  class="i3 i5">Ab</text>
      <text [attr.x]="relativeWidth * 0.33" y="32" class="i3 i5">Nach</text>
      <text [attr.x]="relativeWidth * 0.98" y="32" class="i3 i5" text-anchor="end">Gleis</text>
    </g>

  </svg>
</div>
