.board{
  width: 100%;
  height: calc(100% - 20px);
}
.board___table{
  display: grid;
  grid-template-columns:80px 60px auto 100px;
  grid-template-rows: 30px auto;
}
.board___table .header{
  background: #f3f3f3;
  line-height: 30px;
  text-transform: uppercase;
  color: #9a9a9a;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.board___table .cell{
  align-self: center;
}
.board___table .cell.train-type{
  font-size: 0.8rem;
  padding-left: 4px;
}
.board___table .cell.train-type.red{
  background: red;
  color: white;
}
.board___table .cell.train-type.blue{
  background: blue;
  color: white;
}
.board___table .cell.train-type.outlined-red{
  border: 1px solid red;
  color: red;
}
.board___table .cell.train-type.sbahn{
  color: yellow;
}
.board___table .cell.train-type.bus.yellow{
  background: yellow;
  color: black;
}
