<div class="favorites max-width-4 mx-auto mt4" fxLayout="column">
  <div *ngIf="loading" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="loading === false && error" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <app-error (retry)="ngOnInit()" [error]="error"></app-error>
  </div>
  <div *ngIf="loading == false" fxFlex="auto">
    <div *ngIf="favorites.length === 0" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
      <app-emptyfavorites></app-emptyfavorites>
    </div>
    <div *ngIf="favorites.length != 0" fxFlexFill fxLayout="row" class="mat-typography">
      <div fxFlex="50%" fxLayout="column">
        <h1>Favoriten</h1>
        <div
          cdkDropList
          #inactiveList="cdkDropList"
          [cdkDropListData]="inactiveFavorites"
          [cdkDropListConnectedTo]="[activeList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let f of inactiveFavorites" cdkDrag>
            <app-item [favorite]="f"></app-item>
          </div>
        </div>

        <div class="center" fxFlexOffset="20px">
          <button mat-raised-button color="primary" routerLink="/search">Favorit hinzufügen</button>
        </div>
      </div>
      <div fxFlex="50%" fxFlexOffset="10px">
        <h1>Dashboard</h1>
        <div
          cdkDropList
          #activeList="cdkDropList"
          [cdkDropListData]="activeFavorites"
          [cdkDropListConnectedTo]="[inactiveList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let f of activeFavorites" cdkDrag>
            <app-item [favorite]="f"></app-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
