.sidenav {
  min-height: 100vh;
  min-width: 320px;
}
.sidenav___content{
  min-height: 100vh;
}
.navigation-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}
