.sidenav {
  min-height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
.sidenav___info{
  height: 150px;
}
.sidenav___info___icon{
  width: 120px;
  height: 120px;
}
.sidenav___content{
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.navigation-icon {
  padding: 0 14px;
}
.toolbar___left{
}
.toolbar___middle{
  flex: .8;
  text-align: left;
}
.toolbar___right{
  flex: .2;
  text-align: right;
}
a {
  text-decoration: none;
  color: white;
}
