<section class="about max-width-2 mt4 mx-auto mat-typography">
  <div fxLayout="column">
    <h2 fxFlexOffset="20px">Projekt</h2>
    <p>Diese App ist ein Abschlussprojekt für den Studiengang "Frontend Engineering" - Certificate of Advanced Studies
      Frontend Engineering (CAS) der Hochschule Rapperswil (HSR)</p>
    <p>Mehr Infos unter <a href="https://www.hsr.ch/de/weiterbildung/technik-und-it/cas/cas-frontend-engineering/"
                           target="_blank">www.hsr.ch</a></p>
    <mat-divider fxFlexOffset="20px"></mat-divider>
    <h2 fxFlexOffset="20px">Studenten</h2>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/antonio.jpeg" class="circle m3" alt="Antonio Galluccio"/>
        <h3>Antonio Galluccio</h3>
        <p><a href="antonio.galluccio@hsr.ch" target="_blank">antonio.galluccio@hsr.ch</a></p>
      </div>
      <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/michael.jpeg" class="circle m3" alt="Michael Burgdorfer"/>
        <h3>Michael Burgdorfer</h3>
        <p><a href="michael.burgdorfer@hsr.ch" target="_blank">michael.burgdorfer@hsr.ch</a></p>
      </div>
    </div>
    <mat-divider fxFlexOffset="20px"></mat-divider>
    <h2 fxFlexOffset="20px">Github</h2>

    <div fxLayout="row">
      <iframe src="https://ghbtns.com/github-btn.html?user=antoio&repo=appfahrt&type=star&count=true&size=large"
              frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=antoio&repo=appfahrt&type=fork&count=true&size=large"
              frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    </div>
  </div>
</section>
