/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(assets/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
router-outlet + *{
  flex: 1;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  height: 0;
}
router-outlet + * > div{
  width: 100%;
}
/* Material Overwrites */
.mat-list-item .mat-list-item-content {
  width: 100%;
  justify-content: space-between;
}
.mat-list-item .mat-list-item-content .right-align.mat-input-element {
  text-align: right;
}
.mat-toolbar-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.mat-toolbar .mat-icon-button{
  width: 52px;
  height: 52px;
}
.bottom-nav.mat-toolbar-row{
  padding: 0;
}
.bottom-nav .mat-flat-button{
  border-radius: 0;
}
