<div fxLayout="column" fxLayoutAlign="center" class="register">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card *ngIf="error" class="error" fxFlex="80%" fxFlex.md="50%" fxFlex.lg="30%" fxLayout="column" [@fadeOut]>
      {{error.message}}
    </mat-card>
  </div>
  <div fxFlexOffset="40px" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="80%" fxFlex.md="50%" fxFlex.lg="30%" fxLayout="column">
      <form fxLayout="column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput type="email" formControlName="username" name="username" placeholder="E-Mail">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" formControlName="password" placeholder="Passwort">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="passwordConfirm" formControlName="passwordConfirm" placeholder="Passwort Wiederholen">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Registrieren</button>
      </form>
    </mat-card>
  </div>
</div>