<form fxLayout="column" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Neues Passwort</h1>
  <div mat-dialog-content class="mat-typography" fxLayout="column" *ngIf="loading === false">
    <mat-form-field>
      <input matInput type="password" name="oldPassword" formControlName="oldPassword" placeholder="Altes Passwort">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="newPassword" formControlName="newPassword" placeholder="Neues Passwort">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="newPasswordConfirm" formControlName="newPasswordConfirm"
             placeholder="Neues Passwort Wiederholen">
    </mat-form-field>
  </div>
  <div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <div mat-dialog-actions fxLayoutAlign="space-around" fxFlexOffset="20px">
    <button mat-button (click)="onCancel()">Abbrechen</button>
    <button mat-raised-button color="primary" type="submit">Speichern</button>
  </div>
</form>
