<div class="dashboard">
  <div *ngIf="loading" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="favorites.length === 0 && loading === false" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <app-emptyfavorites></app-emptyfavorites>
  </div>
  <div *ngIf="loading === false && favorites.length != 0" fxLayout="row wrap" fxLayout.xs="column">
    <mat-card *ngFor="let favorite of favorites" class="dashboard___card" [ngStyle]="getDashboardStyle()">
      <app-board [stationId]="favorite.stationId"></app-board>
    </mat-card>
  </div>
</div>
