<div class="dashboard">
  <div *ngIf="loading" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="favorites.length === 0 && loading === false" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <app-emptyfavorites></app-emptyfavorites>
  </div>
  <div *ngIf="loading === false" fxLayout="row wrap" fxLayout.xs="column" fxFlexFill>
    <mat-card *ngFor="let favorite of favorites" fxFlex="calc(50% - 20px)" class="dashboard___card">
      <app-board [stationId]="favorite.stationId"></app-board>
    </mat-card>
  </div>
</div>
