.map-view, .map-view___map {
  width: 100%;
}
.map-view___map___info-window___button{
  width: 100%;
}
.map-view___button{
  position: absolute;
  width: 180px;
  top: 152px;
  right: 10px;
  background: white;
}
